@model Presentation.Models.SignInViewModel
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a576612222.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Login - BackOffice Alpha</title>
</head>
<body>
    <div class="center-wrapper">
        <main>
            <section id="login">
                <div class="card">
                    <div class="card-header">
                        <h1>Login</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
                            <div asp-validation-summary="ModelOnly" class="validation-summary"></div>

                            <div class="form-group">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-input" />
                                <span asp-validation-for="Email" class="field-error"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-input" />
                                <span asp-validation-for="Password" class="field-error"></span>
                            </div>

                            <div class="form-checkbox-group">
                                <label class="form-checkbox">
                                    <input asp-for="IsPersistent"
                                           class="form-checkbox-input"
                                           type="checkbox"
                                           />
                                    <span class="form-checkbox-box"></span>
                                </label>
                                <label asp-for="IsPersistent" class="form-label">Remember me</label>
                            </div>

                            <button type="submit" class="btn">Log in</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        Don’t have an account?
                        <a asp-controller="Auth" asp-action="SignUp">Sign up</a>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
