<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha</title>

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://kit.fontawesome.com/a576612222.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="backoffice-wrapper">
        <aside id="sidebar">
            <section class="logotype">
                <a href="/">
                    <img src="~/images/logotype/Logo.svg" alt="alpha" />
                    <span>alpha</span>
                </a>
            </section>
            <nav class="nav-links">
                <a asp-controller="Projects" asp-action="Index" class="nav-link active">
                    <i class="fa-duotone fa-solid fa-briefcase"></i>
                    <span>Projects</span>
                </a>
            </nav>
        </aside>

        <main>
            <header id="header">
                <form class="search-form" method="get" asp-controller="Projects" asp-action="Index" novalidate>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="form-search-input" placeholder="Search anything" />
                </form>

                <div id="notification-container">
                    <button type="button" data-type="dropdown" data-target="#notification-dropdown" class="btn-notification">
                        <i class="dot dot-red fa-solid fa-circle"></i>
                        <i class="fa-duotone fa-solid fa-bell" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1"></i>
                    </button>
                    <div id="notification-dropdown" class="dropdown">
                        <div class="dropdown-header">
                            <h4>Notifications</h4>
                            <div class="badge badge-red">99</div>
                        </div>
                        <div class="divider"></div>
                        <div class="notifications">
                            <div class="notification" data-notification-type="user">
                                <div class="user-image">
                                    <img src="~/images/users/user-template-male-green.svg" alt="avatar" />
                                </div>
                                <span class="message">@ViewBag.FullName signed in.</span>
                                <span class="time">10 min ago</span>
                                <button class="btn-remove"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button"
                        class="btn-settings"
                        data-type="dropdown"
                        data-target="#settings-dropdown">
                    <i class="fa-duotone fa-cog"></i>
                </button>

                <div class="divider"></div>

                <div id="account-container">
                    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account">
                        <img src="~/images/users/user-template-male-green.svg" alt="avatar" />
                    </button>
                    <div id="account-dropdown" class="dropdown">
                        <div class="dropdown-header">
                            <div class="account-name">
                                <img src="~/images/users/user-template-male-green.svg" alt="avatar" />
                                <span>@ViewBag.FullName</span>
                            </div>
                        </div>
                        <div class="dropdown-body">
                            <nav class="dropdown-options">
                                <div class="dropdown-option">
                                    <label for="darkModeToggle" class="switch-label">
                                        <i class="fa-duotone fa-solid fa-cog"></i>
                                        <span>Dark Mode</span>
                                    </label>
                                    <label class="switch">
                                        <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode" />
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </nav>
                            <div class="divider"></div>
                            <nav class="dropdown-actions">
                                <form method="post" asp-controller="Auth" asp-action="Logout">
                                    <button type="submit" class="dropdown-action">
                                        <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
                                        <span>Logout</span>
                                    </button>
                                </form>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@4.0.0/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
